table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.addNew-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.addNew-button-row {
  display: table-cell;
  width: 490px;
}

.addNew-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.addNew-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.addNew-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

table {
  table-layout: fixed; 
  width: 100%;
  *margin-left: -100px; /*ie7*/
}
td, th {
  vertical-align: middle;
   
  padding: 9px ! important;
  width: 100px;
}
/* .action {
  position: absolute;
  *position: relative; ie7
  margin-left: -100px;
   vertical-align: middle;
   
 
} */
.mat-elevation-z8 {
  position: relative;
}
.table-responsive {
  overflow-x: scroll;
  overflow-y: visible;
  width: 100%; 
  margin-left: 0px;
}