
<nav
	class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
	<div class="container-fluid">
		<div class="navbar-wrapper">

			<a class="navbar-brand" href="#">Vin Rest</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navigation" aria-controls="navigation-index"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-bar navbar-kebab"></span> <span
				class="navbar-toggler-bar navbar-kebab"></span> <span
				class="navbar-toggler-bar navbar-kebab"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end"
			id="navigation">


			<ul class="navbar-nav">
				<li class="nav-item"><a
						routerLink="../dashboard"
					class="nav-link"> <i class="now-ui-icons design_app"></i>
						Dashboard
				</a></li>
				<li class="nav-item "><a
					routerLink="../register"
					class="nav-link"> <i class="now-ui-icons tech_mobile"></i>
						Register
				</a></li>
				<li class="nav-item active "><a
					routerLink="../login"
					class="nav-link"> <i class="now-ui-icons users_circle-08"></i>
						Login
				</a></li>

				<li class="nav-item  "><a
					routerLink="../supscription"
					class="nav-link"> <i
						class="now-ui-icons now-ui-icons business_money-coins"></i>
						Pricing
				</a></li>

				<li class="nav-item "><a
						routerLink="../lock"
					class="nav-link"> <i class="now-ui-icons ui-1_lock-circle-open"></i>
						Lock
				</a></li>
				<li class="nav-item "><a
						routerLink="../invoice"
					class="nav-link"> <i class="now-ui-icons files_paper"></i>
						Invoice
				</a></li>
			</ul>





		</div>
	</div>
</nav>
<div class="wrapper wrapper-full-page "
	style="background:linear-gradient(to right, #0062E6, #33AEFF)">
 <div class="container"  >
 <br>
  <br>
 <div class="curvecut col-md-6 ml-auto mr-auto" style="padding-bottom: 150px;padding-top: 220px;">
<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="form-group">
                <label for="username">Email</label>
                <input  [class.is-invalid]="f.email.invalid && f.email.touched" type="text" formControlName="email"   placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors['required']">Username is required</div>
                      <div *ngIf="f.email.errors['email']">Email must be a valid email address</div>
                       <div *ngIf="f.email.invalid && f.email.touched && (!f.email.errors['email'])">Email must be a valid email address</div>
                      <div *ngIf="f.email.errors['emailValidation']">UserName or Password Error</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password"   placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors['required']">Password is required</div>
                </div>
            </div>

              <div class="d-flex justify-content-around">
   <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>

            <div class="form-group">



                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="../register" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>
</div>
 </div>
</div>

</div>
 <div class="fixed-bottom">
	<footer class="footer  footer-static footer-transparent">

		<div class=" container-fluid ">
			<nav>
				<ul>
					<li><a href="#"> Vin Rest</a></li>
					<li><a href="#"> About Us </a></li>
					<li><a href="#"> Blog </a></li>
				</ul>
			</nav>
			<div class="copyright" id="copyright">
				©2020  Designed by Vin Rest inc.
			</div>
		</div>



	</footer>

	</div>
