
 <div class="panel-header panel-header-sm" style="background: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788);     height: 170px;">

    <div class="header text-center">
     <h1 class="title">Service Error Metrics</h1>

   </div>
 </div>


<div class="main-content">
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Get Rest Service Error</h5>
            <h4 class="card-title">Get Error Time  Chart</h4>

  </div>
<div class="card-body">
<div class="chart-container" style="">
    <canvas id="canvas">{{ Linechart }}</canvas>
    <div *ngIf="isLoadingget"
   style="position: absolute;top:50%;left:50%;  display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
  </div>
</div>
 <div class="card-footer">
          <div class="stats" >
            <i style="cursor: pointer;" (click)="refreshChart('GET')"  class="now-ui-icons arrows-1_refresh-69"></i>Refreshed on {{chart1Time | date:'fullTime'}}
          </div>
        </div>


  </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Post Rest Service Error</h5>
        <h4 class="card-title">POST Error Time  Chart</h4>

</div>
<div class="card-body">
<div class="chart-container" style="">
<canvas id="canvas1">{{ Linechart }}</canvas>
<div *ngIf="isLoadingpost"
   style="position: absolute;top:50%;left:50%;  display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
</div>

</div>
<div class="card-footer">
          <div class="stats" >
            <i style="cursor: pointer;" (click)="refreshChart('POST')" class="now-ui-icons arrows-1_refresh-69"></i>Refreshed on {{chart2Time | date:'fullTime'}}
          </div>
        </div>

</div>
</div>
<div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">PUT Rest Service Error</h5>
        <h4 class="card-title">PUT Error Time  Chart</h4>

</div>
<div class="card-body">
<div class="chart-container" style="">
<canvas id="canvas2">{{ Linechart }}</canvas>
<div *ngIf="isLoadingput"
   style=" position: absolute;top:50%;left:50%;  display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
</div>
</div>
<div class="card-footer">
          <div class="stats">
            <i style="cursor: pointer;" (click)="refreshChart('PUT')" class="now-ui-icons arrows-1_refresh-69"></i> Refreshed on {{chart3Time | date:'fullTime'}}
          </div>
        </div>
.
</div>
</div>
<div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Delete Rest Service Error</h5>
        <h4 class="card-title">Delete Error Time  Chart</h4>

</div>
<div class="card-body">
<div class="chart-container" style="">
<canvas id="canvas3">{{ Linechart }}</canvas>
<div *ngIf="isLoadingdelete"
   style="position: absolute;top:50%;left:50%;  display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
</div>
</div>
<div class="card-footer">
          <div class="stats">
            <i style="cursor: pointer;" (click)="refreshChart('DELETE')" class="now-ui-icons arrows-1_refresh-69"></i> Refreshed on  {{chart4Time | date:'fullTime'}}
          </div>
        </div>

</div>
</div>
  </div>
  </div>
