 <div class="panel-header panel-header-sm" style="background: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788);     height: 170px;">
  
   <div class="header text-center">
    <h1 class="title">Multi Service Configuration</h1>
   
  </div>
</div>
 <div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Multi Service Configuration Grid</h4>
        </div>
        <div class="card-body">
         <div class="addNew-button-container" style="display:flex; justify-content:flex-end; width:100%; padding:0;">
        <button mat-mini-fab color="accent" (click)="addRec()" aria-label="Example icon button with a plus one icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
           <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header> {{column | titlecase }} </th>
    <td mat-cell *matCellDef="let element"> 
   <ng-container  *ngIf="column!='action'; else elseTemplate ">
    {{element[column]}} 
    </ng-container>
    <ng-template #elseTemplate>
  
        <mat-icon  (click)="openDialog('Add',element)" aria-hidden="false" aria-label="Example home icon">add_box</mat-icon>   <mat-icon  (click)="openDialog('Update',element)" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>    <mat-icon  (click)="openDialog('Delete',element)" aria-hidden="false" aria-label="Example home icon">close</mat-icon> <mat-icon  (click)="openValidateDialog('Multi Service',element)" aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon> 
      
    </ng-template>
 
    </td>
  </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
    
  </table>
<div *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</div>
  <mat-paginator [pageSizeOptions]="[5, 10,15, 20]" showFirstLastButtons></mat-paginator>
</div>
        </div>
      </div>
    </div>
    
  </div>
</div>
