
<nav
	class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
	<div class="container-fluid">
		<div class="navbar-wrapper">

			<a class="navbar-brand" href="#">Vin Rest</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navigation" aria-controls="navigation-index"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-bar navbar-kebab"></span> <span
				class="navbar-toggler-bar navbar-kebab"></span> <span
				class="navbar-toggler-bar navbar-kebab"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end"
			id="navigation">


			<ul class="navbar-nav">
				<li class="nav-item"><a
					routerLink="../dashboard"
					class="nav-link"> <i class="now-ui-icons design_app"></i>
						Dashboard
				</a></li>
				<li class="nav-item "><a
					routerLink="../register"
					class="nav-link"> <i class="now-ui-icons tech_mobile"></i>
						Register
				</a></li>
				<li class="nav-item "><a
					routerLink="../login"
					class="nav-link"> <i class="now-ui-icons users_circle-08"></i>
						Login
				</a></li>

				<li class="nav-item  active "><a
					routerLink="../supscription"
					class="nav-link"> <i
						class="now-ui-icons now-ui-icons business_money-coins"></i>
						Pricing
				</a></li>

				<li class="nav-item "><a
						routerLink="../lock"
					class="nav-link"> <i class="now-ui-icons ui-1_lock-circle-open"></i>
						Lock
				</a></li>
				<li class="nav-item "><a
						routerLink="../invoice"
					class="nav-link"> <i class="now-ui-icons files_paper"></i>
						Invoice
				</a></li>
			</ul>





		</div>
	</div>
</nav>
<div class="wrapper wrapper-full-page "
	style="background:linear-gradient(to right, #0062E6, #33AEFF)">
<section class="pricing py-5">
 <div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="description text-left">
						<h2 class="sub-title">Vin Rest PRO description</h2>
						<br> <span itemprop="description">
							<p>
								<strong>Vin Rest PRO</strong> is a Managed service
								which offer rest service in compactable  with almost all database, designed to
								customize, clean and organized rest service. If you are looking for a
								tool to manage and visualize data  
								automation on publishing rest service , this is the thing for you. It combines single table exposing data to multiple table exposing that are easy
								on the customization, helps faster development of application and reduce the burden of developing rest services .<br>Now
								Vin Rest PRO  comes packed with all necessary functionalities that you might
								need inside a project and documentation on how to get started.
								It is light and easy to use, and also very powerful.<br>
								 
								 Let us know your thoughts below. And good luck with
								development!<br>
								<br>
								
							</p> <span> </span>
						</span>
					</div>
					 
				</div>
			</div>
		</div>
  <div class="container ">
  
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Database</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>GET Operation</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Check Out</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Database</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>GET,POST,PUT and DELETE Operation</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Check Out</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Database</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>All Operation</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Check Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

	<div class="fixed-bottom">
	<footer class="footer  footer-static footer-transparent">

		<div class=" container-fluid ">
			<nav>
				<ul>
					<li><a href="#"> Vin Rest</a></li>
					<li><a href="#"> About Us </a></li>
					<li><a href="#"> Blog </a></li>
				</ul>
			</nav>
			<div class="copyright" id="copyright">
				©2020  Designed by Vin Rest inc.
			</div>
		</div>



	</footer>
	 
	</div>
</div>